<aside class="bg-black aside-md hidden-print hidden-xs" id="nav">          
  <section class="vbox">
    <section class="w-f scrollable">
      <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 446px;"><div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="10px" data-railopacity="0.2" style="overflow: hidden; width: auto; height: 446px;">
        <br><br>                
        <nav class="nav-primary hidden-xs">
          {% include links.html %} 
        </nav>  
      </div><div class="slimScrollBar" style="width: 10px; position: absolute; top: -373px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 0px; height: 353.943060498221px; background: rgb(0, 0, 0);"></div><div class="slimScrollRail" style="width: 10px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 0px; background: rgb(51, 51, 51);"></div></div>
    </section>
    
    <footer class="footer hidden-xs no-padder text-center-nav-xs">
      <a href="/logout"  class="btn btn-icon icon-muted btn-inactive pull-right m-l-xs m-r-xs hidden-nav-xs">
        <i class="i i-logout"></i>
      </a>
      <a href="#nav" data-toggle="class:nav-xs" class="btn btn-icon icon-muted btn-inactive m-l-xs m-r-xs">
        <i class="i i-circleleft text"></i>
        <i class="i i-circleright text-active"></i>
      </a>
    </footer>
  </section>
</aside>